<div>

<h1>Success</h1>

<p>You just donated in Donar!</p>

<h2>Your donation was $<%= @session.amount_total.to_f / 100 %></h2>
<br />
<% @line_items.each do |item|%>
 <h3><%= item.description %></h3>

<% end %>

</div>